@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    background-color: #f0f2f5;
}

.Parent {
    display: flex;
    flex-direction: column;
}

.First,
.Second,
.Third,
.Fourth {
    border: none;
}

.First {
    box-shadow: 2px 2px 10px rgba(230, 226, 226, 0.3);
    display: flex;
    flex-direction: column;
}

.FirstTop {
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}

.FirstInputs {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
}

.bruh-1,
.bruh-2 {
    padding-bottom: 10px;
    position: relative;
    left: 7vw;
}

.bruh-3,
.bruh-4 {
    padding-bottom: 10px;
    position: relative;
    left: 50vw;
}

.Second {
    margin-top: 150px;
    box-shadow: 0px 0px 10px rgba(180, 179, 179, 0.3);
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

#Todo {
    width: 40%;
}

.SecondRight {
    position: relative;
    /* left:-20%; */
    padding-top: 20px;
}

#Heading-2 {
    padding-left: 30px;
}

#list {
    list-style-type: square;
    margin-top: 10px;
}

li {
    padding-bottom: 20px;
}

.Third{
    width:100%;
    padding:0;
    margin:0;
}

.Uploaded-Images{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
    background-color:cyan;
}

.Uploaded-Images img{
    object-fit:cover;
    max-width: 100%;
    max-height:100%;
width:605px;
height:500px;
}



.Fourth {
    padding-top: 150px;
    text-align: center;
    width: 100%;
    height: 50vh;
}

#Hr1,
#Hr2,
#Hr3 {
    position: relative;
    top: 50px;
    width: 90%;
    opacity: 0.2;
}

#ObservationInput {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
